/* .button-container {
    position: relative;
  }
  
  .hover-button {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
  }
   */
  .trigger-area:hover + .hover-button {
    display: block;
  }
  